body {
  margin: 0
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.mycontainer {
  margin: 30px
}

.mynavbar {
  display: flex;
  background-color: rgb(240, 234, 234);
}

.mynavbar > a:hover {
  color: white;
  background-color: rgb(31, 68, 192);
}

.mycard {
  background-color: rgb(240, 234, 234);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: 15px
}

.mygroupcards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.myfooter {
  position: relative;
  width: 100%;
  bottom: 0;
}

h1 {
  text-align: center;
}